<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jdh.example.chat.model.dao.user.UserRegistTbMapper">
	<select id="selectUserDuplCheck" parameterType="String" resultType="int">
		select 
			count(*)
		from user_tb
			where user_id = #{userId} and del_yn = 'N'
	</select>

	<insert id="insertUserTb" parameterType="jdh.example.chat.model.dto.user.UserRegistTbDTO">
		insert into user_tb (
			<trim prefixOverrides=",">
				<if test="userId                   !=null and userId                   !=''"> , user_id </if>
				<if test="salt                     !=null and salt                     !=''"> , salt </if>
				<if test="userPw                   !=null and userPw                   !=''"> , user_pw </if>
				<if test="nickname                 !=null and nickname                 !=''"> , nickname </if>
				<if test="logo                     !=null and logo                     !=''"> , logo </if>
				, reg_dt
			</trim>
		) values (
			<trim prefixOverrides=",">
				<if test="userId                   !=null and userId                   !=''"> , #{userId} </if>
				<if test="salt                     !=null and salt                     !=''"> , #{salt} </if>
				<if test="userPw                   !=null and userPw                   !=''"> , #{userPw} </if>
				<if test="nickname                 !=null and nickname                 !=''"> , #{nickname} </if>
				<if test="logo                     !=null and logo                     !=''"> , #{logo} </if>
				, now()
			</trim>
		)
	</insert>
	
	<update id="updateUserTb" parameterType="jdh.example.chat.model.dto.user.UserRegistTbDTO">
		update user_tb set
		<trim prefixOverrides=",">
			<if test="userId                   !=null and userId                   !=''"> , user_id = #{userId} </if>
			<if test="salt                     !=null and salt                     !=''"> , salt = #{salt} </if>
			<if test="userPw                   !=null and userPw                   !=''"> , user_pw = #{userPw} </if>
			<if test="nickname                 !=null and nickname                 !=''"> , nickname = #{nickname}</if>
			<if test="logo                     !=null and logo                     !=''"> , logo = #{logo} </if>
			, mod_dt = now()
		</trim>
	</update>
</mapper>
