<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jdh.example.chat.model.dao.user.UserTbMapper">

	<select id="selectUserTbList" parameterType="jdh.example.chat.model.dto.user.UserTbDTO" resultType="jdh.example.chat.model.dto.user.UserTbDTO">
		select 
			
			user_idx
			, user_id
			, nickname
			, logo
			, reg_dt
			, mod_dt
			, del_yn
		from user_tb
		<where>
			
			<if test="userIdx                   !=null and userIdx                   !=''"><![CDATA[ and user_idx = #{userIdx} ]]></if>
			<if test="userId                    !=null and userId                    !=''"><![CDATA[ and user_id = #{userId} ]]></if>
			<if test="delYn                     !=null and delYn                     !=''"><![CDATA[ and del_yn = #{delYn} ]]></if>
		</where>
		order by reg_dt desc
	</select>
</mapper>
